html, body {
    height: 100%
}

body {
    background: black;
    display: flex;
    justify-content: center;
    align-content: center;
}

#viewport {
    width: 640px;
    height: 256px;
    position: relative;
    overflow-x: auto;
    background-image: url('../images/water0.png');
}

#ports {
    width: 0px;
    margin-top: 96px;
    display: flex;
    justify-content: space-around;
}

#ports > .port {
    width: 64px;
    height: 32px;
    background-image: url('../images/port.png');
}

#ship {
    width: 128px;
    height: 64px;
    position: absolute;
    background-image: url('../images/ship.png');
}

#sailbutton {
    width: 100%;
    background-color: #fb3640;
    font-family: 'Blinker', sans-serif;
    border: 0;
    color: white;
    font-family: inherit;
    padding: 10px 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}

#sailbutton:focus {
    background-color: rosybrown;
    border-bottom-width: 0;
    padding: 10px 10px;
}

#message {
    width: 100%;
    background-color: white;
    font-family: 'Blinker', sans-serif;
    border-top: 3px solid black;
    color: black;
    font-family: inherit;
    padding: 10px 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}